<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/myStyle.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="wrapper">
          <div id="logo"><img src="~/Images/logo.jpg" /></div>
        <h2>@ViewBag.UnderTitle</h2>
        <div class="tabs">
        <ul>
            <li><a asp-controller="Cars" asp-action="Create">Create a new Car</a></li>
            <li><a asp-controller="Cars" asp-action="Index" >Go back to start page</a></li>
        </ul>
        </div>
        <h3>Current Cars:</h3>
        
        @RenderBody()
    </div>
    <footer>
        <p>Posted by: Fanny Sandberg</p>
        <div>&copy; Fanny Sandberg</div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
